run = "uvicorn main:app --host 0.0.0.0 --port=$PORT"
modules = ["nodejs-20"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 8000
externalPort = 80

[workflows]
runButton = "Frontend Build & Start"

[[workflows.workflow]]
name = "Frontend Dev"
author = 34114272
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd ravenscan-frontend && npm run dev"

[[workflows.workflow]]
name = "Frontend Build & Start"
author = 34114272
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd ravenscan-frontend && npm run build && npm run start"

[[workflows.workflow]]
name = "Run API"
author = 34114272
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m uvicorn main:app --host 0.0.0.0 --port 8000"

[nix]
channel = "stable-24_05"
packages = ["python312Packages.uvicorn"]

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "uvicorn main:app --host 0.0.0.0 --port $PORT"]
