run = "uvicorn main:app --host=0.0.0.0 --port=3000"
modules = ["nodejs-20", "python-3.11"]

[workflows]
runButton = "Run API"

[[workflows.workflow]]
name = "Frontend Dev"
author = 34114272
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd ravenscan-frontend && npm run dev"

[[workflows.workflow]]
name = "Frontend Build & Start"
author = 34114272
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd ravenscan-frontend && npm run build && npm run start"

[[workflows.workflow]]
name = "Run API"
author = 34114272
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uvicorn main:app --host=0.0.0.0 --port=3000"

[nix]
channel = "stable-24_05"
packages = ["cacert", "glibcLocales", "libxcrypt", "python312", "python312Packages.fastapi", "python312Packages.pip", "python312Packages.pydantic", "python312Packages.uvicorn", "xcodebuild", "zlib"]

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "uvicorn main:app --host=0.0.0.0 --port=80"]

[[ports]]
localPort = 3000
externalPort = 80
